<html>
<head>
  <title>Hull <%= name %></title>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  <link rel="stylesheet" href="/dist/style.css" />
</head>
<body>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 mt-2 panel">
      <div class="panel-body">
        <div class="mb-1">
          <h1 class="mb-0 mt-05  text-center"><i class="icon icon-hull" style="font-size:64px;"></i></h1>
          <div class="mb-1 media">
            <div class="media-left">
              <div class="media-object pr-1 pt-05">
                <div class="check valid"><i class="icon icon-valid"></i></div>
              </div>
            </div>
            <div class="media-body pt-1">
              <h4 class="m-0 text-muted">Connected to Mailchimp</h4>
              <p class="mb-1">
                The Mailchimp integration is set up correctly. Users are now sent to Mailchimp when they are updated. If you haven’t done it before or you want to reset everything, click the “Sync all users and segments” button below to empty and refill the list.
Choose one or more Filtered Segments on the sidebar to limit synced users to a subset of your database.
              </p>
              <button class='mb-1 btn btn-block btn-primary'
                data-action="<%=form_action%>"
                data-confirm="<%=mailchimp_list_name%>">Sync all users and segments</button>
              <!-- link to list selection is disabled. Due to current implementation -->
              <!-- it is not possible to change the mailchimp list -->
              <!-- <a href="<%=select_url%>">Return to Mailchimp List selection</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style type="text/css" media="screen">
  </style>
  <script type="text/javascript" src="/dist/admin.js"></script>
</body>
</html>
