.media {
  margin: 0 40px;
}
.check i.icon {
  color: rgba(75, 222, 122, 0.52);
  font-size: 2pc;
  position: relative;
  top: -11px;
  left: 3px;
}
.check.valid {
  border-color: rgba(75, 222, 122, 0.52);
}
.check {
  border-radius: 100px;
  border: 2px solid transparent;
  padding: 0 5px;
  height: 37px;
  width: 37px;
  position: relative;
}
